*{
    box-sizing:border-box;
}
body{
    background-color: grey;
    height:825px;
}
.main-flex-container{
    /*border:3px solid black;*/
    height:800px;
    background-color:lightgrey;
}
.extra-information{
    display:flex;
    height:25px;
    justify-content:center;
    color:white;
}
.nav-bar{
    display:flex;
    /*border:2px solid red;*/
    justify-content: center;
    background-color:orange;
    flex-direction:column;
}
.main-heading{
    /*border:1px solid white;*/
    font-size:65px;
    display:flex;
    justify-content: center;
    color: white;
    background-color: orange;
    width:200;
}
.nav-bar-items{
    /*border:1px solid white;*/
    display:flex;
    flex-direction:row;
    justify-content:flex-end
}
.item{
    background-color:orange;
    /*border:1px solid green;*/
    float:flex-end;
    font-size:25px;
    margin-right: 20px;
    color:white;
}
