*{
    box-sizing:border-box;
}
body{
    background-color: grey;
    height:825px;
}
.main-flex-container{
    /*border:3px solid black;*/
    height:150%;
    background-color:lightgrey;
}
.extra-information{
    display:flex;
    height:25px;
    justify-content:center;
    color:white;
}
.nav-bar{
    display:flex;
    /*border:2px solid red;*/
    justify-content: center;
    background-color:orange;
    flex-direction:column;
}
.main-heading{
    /*border:1px solid white;*/
    font-size:60px;
    display:flex;
    justify-content: center;
    color: white;
    background-color: orange;
    width:200;
}
.nav-bar-items{
    /*border:1px solid white;*/
    display:flex;
    flex-direction:row;
    justify-content:flex-end
}
.item{
    background-color:orange;
    /*border:1px solid green;*/
    float:flex-end;
    font-size:25px;
    margin-right: 20px;
    color:white;
}
.item:hover{
    background-color:darkorange;
    /*border:1px solid green;*/
    float:flex-end;
    font-size:25px;
    margin-right: 20px;
    color:white;
}
.main-content{
    /*border:1px solid red;*/
    height:86%;
    display:flex;
    flex-direction:column;
}
.about{
    margin-top: 25px;
    font-size:10px;
}
.team-banner{
    display:flex;
    margin-left:20px;
    justify-content:center;
}
.team-members{
    height:50%;
    display:flex;
    flex-direction:row;
}
.team-member{
    height:100%;
    width:25%;
    margin-right:0.5px;
    margin-left:0.5px;
}
.description{
    height:100px;
    font-size-adjust: initial;
}
